.top_bar{
  background-color: black !important;
  color: white !important;
}
.top_bar_user a{
  color: white !important;
}

.product_cart_button{
  background-color: yellow !important;
  color: black !important;
}

.header_search_button{
  background-color: yellow !important;
  color: black !important;
}

.cat_menu_container{
  background-color: yellow !important;
  color: black !important;
}

.cat_menu_text{
  color: black !important;
}



.best_sellers{
  background-color: yellow !important;
}
.copyright, .footer{
  background-color: black !important;
  color: white !important;
}
